<?xml version="1.0" encoding="utf-8"?>
<charset>
  <FileVersion>2</FileVersion>
  <BK1>07</BK1>
  <BK2>97</BK2>
  <Col3>57</Col3>
  <Reversed>False</Reversed>
  <Multicolour>True</Multicolour>
  <Uppercase>True</Uppercase>
  <character>
    <charcode>0</charcode>
    <chardata>
      <data>60</data>
      <data>219</data>
      <data>231</data>
      <data>219</data>
      <data>60</data>
      <data>48</data>
      <data>48</data>
      <data>48</data>
    </chardata>
  </character>
  <character>
    <charcode>2</charcode>
    <chardata>
      <data>252</data>
      <data>255</data>
      <data>255</data>
      <data>255</data>
      <data>255</data>
      <data>255</data>
      <data>255</data>
      <data>255</data>
    </chardata>
  </character>
  <character>
    <charcode>4</charcode>
    <chardata>
      <data>192</data>
      <data>240</data>
      <data>252</data>
      <data>252</data>
      <data>255</data>
      <data>255</data>
      <data>255</data>
      <data>255</data>
    </chardata>
  </character>
  <character>
    <charcode>7</charcode>
    <chardata>
      <data>255</data>
      <data>255</data>
      <data>63</data>
      <data>63</data>
      <data>15</data>
      <data>3</data>
      <data>1</data>
      <data>0</data>
    </chardata>
  </character>
  <character>
    <charcode>10</charcode>
    <chardata>
      <data>255</data>
      <data>255</data>
      <data>255</data>
      <data>255</data>
      <data>245</data>
      <data>208</data>
      <data>64</data>
      <data>0</data>
    </chardata>
  </character>
  <character>
    <charcode>11</charcode>
    <chardata>
      <data>255</data>
      <data>255</data>
      <data>253</data>
      <data>252</data>
      <data>244</data>
      <data>80</data>
      <data>0</data>
      <data>0</data>
    </chardata>
  </character>
  <character>
    <charcode>14</charcode>
    <chardata>
      <data>3</data>
      <data>15</data>
      <data>63</data>
      <data>63</data>
      <data>255</data>
      <data>255</data>
      <data>255</data>
      <data>255</data>
    </chardata>
  </character>
  <character>
    <charcode>17</charcode>
    <chardata>
      <data>63</data>
      <data>255</data>
      <data>255</data>
      <data>255</data>
      <data>255</data>
      <data>255</data>
      <data>255</data>
      <data>255</data>
    </chardata>
  </character>
  <character>
    <charcode>21</charcode>
    <chardata>
      <data>0</data>
      <data>192</data>
      <data>240</data>
      <data>252</data>
      <data>255</data>
      <data>255</data>
      <data>255</data>
      <data>255</data>
    </chardata>
  </character>
  <character>
    <charcode>22</charcode>
    <chardata>
      <data>255</data>
      <data>255</data>
      <data>255</data>
      <data>63</data>
      <data>63</data>
      <data>5</data>
      <data>0</data>
      <data>0</data>
    </chardata>
  </character>
  <character>
    <charcode>25</charcode>
    <chardata>
      <data>255</data>
      <data>255</data>
      <data>255</data>
      <data>255</data>
      <data>95</data>
      <data>5</data>
      <data>0</data>
      <data>0</data>
    </chardata>
  </character>
  <character>
    <charcode>26</charcode>
    <chardata>
      <data>255</data>
      <data>253</data>
      <data>252</data>
      <data>244</data>
      <data>208</data>
      <data>64</data>
      <data>0</data>
      <data>0</data>
    </chardata>
  </character>
  <character>
    <charcode>27</charcode>
    <chardata>
      <data>0</data>
      <data>0</data>
      <data>0</data>
      <data>192</data>
      <data>51</data>
      <data>252</data>
      <data>48</data>
      <data>255</data>
    </chardata>
  </character>
  <character>
    <charcode>28</charcode>
    <chardata>
      <data>0</data>
      <data>0</data>
      <data>0</data>
      <data>3</data>
      <data>204</data>
      <data>60</data>
      <data>204</data>
      <data>255</data>
    </chardata>
  </character>
  <character>
    <charcode>29</charcode>
    <chardata>
      <data>3</data>
      <data>15</data>
      <data>63</data>
      <data>255</data>
      <data>255</data>
      <data>63</data>
      <data>15</data>
      <data>3</data>
    </chardata>
  </character>
  <character>
    <charcode>31</charcode>
    <chardata>
      <data>0</data>
      <data>3</data>
      <data>15</data>
      <data>63</data>
      <data>255</data>
      <data>255</data>
      <data>255</data>
      <data>255</data>
    </chardata>
  </character>
  <character>
    <charcode>33</charcode>
    <chardata>
      <data>208</data>
      <data>244</data>
      <data>253</data>
      <data>253</data>
      <data>253</data>
      <data>253</data>
      <data>253</data>
      <data>253</data>
    </chardata>
  </character>
  <character>
    <charcode>34</charcode>
    <chardata>
      <data>15</data>
      <data>63</data>
      <data>255</data>
      <data>255</data>
      <data>255</data>
      <data>255</data>
      <data>255</data>
      <data>255</data>
    </chardata>
  </character>
  <character>
    <charcode>35</charcode>
    <chardata>
      <data>255</data>
      <data>255</data>
      <data>255</data>
      <data>255</data>
      <data>255</data>
      <data>255</data>
      <data>255</data>
      <data>255</data>
    </chardata>
  </character>
  <character>
    <charcode>36</charcode>
    <chardata>
      <data>253</data>
      <data>253</data>
      <data>253</data>
      <data>253</data>
      <data>253</data>
      <data>253</data>
      <data>253</data>
      <data>253</data>
    </chardata>
  </character>
  <character>
    <charcode>37</charcode>
    <chardata>
      <data>253</data>
      <data>244</data>
      <data>244</data>
      <data>208</data>
      <data>208</data>
      <data>244</data>
      <data>244</data>
      <data>253</data>
    </chardata>
  </character>
  <character>
    <charcode>38</charcode>
    <chardata>
      <data>255</data>
      <data>255</data>
      <data>255</data>
      <data>187</data>
      <data>103</data>
      <data>169</data>
      <data>102</data>
      <data>154</data>
    </chardata>
  </character>
  <character>
    <charcode>39</charcode>
    <chardata>
      <data>255</data>
      <data>255</data>
      <data>255</data>
      <data>250</data>
      <data>230</data>
      <data>170</data>
      <data>102</data>
      <data>154</data>
    </chardata>
  </character>
  <character>
    <charcode>40</charcode>
    <chardata>
      <data>255</data>
      <data>255</data>
      <data>255</data>
      <data>255</data>
      <data>230</data>
      <data>170</data>
      <data>102</data>
      <data>170</data>
    </chardata>
  </character>
  <character>
    <charcode>41</charcode>
    <chardata>
      <data>3</data>
      <data>255</data>
      <data>255</data>
      <data>187</data>
      <data>103</data>
      <data>169</data>
      <data>102</data>
      <data>154</data>
    </chardata>
  </character>
  <character>
    <charcode>42</charcode>
    <chardata>
      <data>192</data>
      <data>252</data>
      <data>255</data>
      <data>250</data>
      <data>230</data>
      <data>170</data>
      <data>102</data>
      <data>154</data>
    </chardata>
  </character>
  <character>
    <charcode>44</charcode>
    <chardata>
      <data>254</data>
      <data>251</data>
      <data>238</data>
      <data>251</data>
      <data>254</data>
      <data>251</data>
      <data>238</data>
      <data>255</data>
    </chardata>
  </character>
  <character>
    <charcode>45</charcode>
    <chardata>
      <data>255</data>
      <data>255</data>
      <data>255</data>
      <data>255</data>
      <data>255</data>
      <data>255</data>
      <data>63</data>
      <data>15</data>
    </chardata>
  </character>
  <character>
    <charcode>46</charcode>
    <chardata>
      <data>185</data>
      <data>237</data>
      <data>185</data>
      <data>237</data>
      <data>185</data>
      <data>237</data>
      <data>180</data>
      <data>208</data>
    </chardata>
  </character>
  <character>
    <charcode>47</charcode>
    <chardata>
      <data>14</data>
      <data>59</data>
      <data>238</data>
      <data>187</data>
      <data>238</data>
      <data>187</data>
      <data>238</data>
      <data>187</data>
    </chardata>
  </character>
  <character>
    <charcode>59</charcode>
    <chardata>
      <data>255</data>
      <data>255</data>
      <data>255</data>
      <data>63</data>
      <data>15</data>
      <data>3</data>
      <data>0</data>
      <data>0</data>
    </chardata>
  </character>
  <character>
    <charcode>60</charcode>
    <chardata>
      <data>3</data>
      <data>2</data>
      <data>10</data>
      <data>10</data>
      <data>42</data>
      <data>42</data>
      <data>170</data>
      <data>170</data>
    </chardata>
  </character>
  <character>
    <charcode>61</charcode>
    <chardata>
      <data>192</data>
      <data>128</data>
      <data>144</data>
      <data>160</data>
      <data>164</data>
      <data>168</data>
      <data>169</data>
      <data>170</data>
    </chardata>
  </character>
  <character>
    <charcode>63</charcode>
    <chardata>
      <data>224</data>
      <data>184</data>
      <data>237</data>
      <data>185</data>
      <data>237</data>
      <data>185</data>
      <data>237</data>
      <data>185</data>
    </chardata>
  </character>
  <character>
    <charcode>64</charcode>
    <chardata>
      <data>0</data>
      <data>0</data>
      <data>0</data>
      <data>0</data>
      <data>0</data>
      <data>0</data>
      <data>0</data>
      <data>0</data>
    </chardata>
  </character>
  <character>
    <charcode>65</charcode>
    <chardata>
      <data>237</data>
      <data>185</data>
      <data>237</data>
      <data>185</data>
      <data>237</data>
      <data>185</data>
      <data>237</data>
      <data>185</data>
    </chardata>
  </character>
  <character>
    <charcode>66</charcode>
    <chardata>
      <data>229</data>
      <data>180</data>
      <data>212</data>
      <data>144</data>
      <data>208</data>
      <data>180</data>
      <data>228</data>
      <data>181</data>
    </chardata>
  </character>
  <character>
    <charcode>67</charcode>
    <chardata>
      <data>238</data>
      <data>187</data>
      <data>238</data>
      <data>187</data>
      <data>238</data>
      <data>187</data>
      <data>238</data>
      <data>187</data>
    </chardata>
  </character>
  <character>
    <charcode>68</charcode>
    <chardata>
      <data>255</data>
      <data>235</data>
      <data>153</data>
      <data>170</data>
      <data>102</data>
      <data>170</data>
      <data>102</data>
      <data>170</data>
    </chardata>
  </character>
  <character>
    <charcode>69</charcode>
    <chardata>
      <data>255</data>
      <data>235</data>
      <data>102</data>
      <data>170</data>
      <data>153</data>
      <data>170</data>
      <data>153</data>
      <data>170</data>
    </chardata>
  </character>
  <character>
    <charcode>70</charcode>
    <chardata>
      <data>102</data>
      <data>170</data>
      <data>102</data>
      <data>170</data>
      <data>153</data>
      <data>170</data>
      <data>153</data>
      <data>170</data>
    </chardata>
  </character>
  <character>
    <charcode>71</charcode>
    <chardata>
      <data>153</data>
      <data>170</data>
      <data>153</data>
      <data>170</data>
      <data>102</data>
      <data>170</data>
      <data>102</data>
      <data>170</data>
    </chardata>
  </character>
  <character>
    <charcode>72</charcode>
    <chardata>
      <data>237</data>
      <data>185</data>
      <data>237</data>
      <data>180</data>
      <data>208</data>
      <data>64</data>
      <data>0</data>
      <data>0</data>
    </chardata>
  </character>
  <character>
    <charcode>98</charcode>
    <chardata>
      <data>64</data>
      <data>64</data>
      <data>64</data>
      <data>64</data>
      <data>64</data>
      <data>64</data>
      <data>64</data>
      <data>64</data>
    </chardata>
  </character>
</charset>
